@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer{
    max-width: 350px;
    width: 95%;
    background-color: #fff;
    padding: 1em 1em 1.9em;
    border-radius: 19px;
    text-align: center;
    margin-bottom: 1.2em;
}

.flex{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit, sans-serif;

}

p{
    line-height: 1.28;
    font-size: 17px;
    color: hsl(220, 15%, 55%);
}

.qr-code{
    width: 100%;
    margin-bottom: 17px;
    border-radius: 12px;
}

.copy_container{
    padding: 0 1em;
}

.copy_title{
    margin-bottom: .5em;
    color: hsl(218, 44%, 22%);
}

.attribution {
    text-align: center;
}

.attribution b { 
    color: hsl(228, 45%, 44%); 
}
