
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer{
    max-width: 21.9rem;
    background-color: #fff;
    padding: 1rem 1rem 1.9rem;
    border-radius: 19px;
    margin-bottom: 1.2rem;
}

.flex{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit, sans-serif;
    text-align: center;
    padding: 0 1rem;
}

p{
    line-height: 1.28;
    font-size: 1rem;
    color: hsl(220, 15%, 55%);
}

.qr-code{
    display: block;
    max-width: 100%;
    margin-bottom: 1rem;
    border-radius: 12px;
}

.copy_container{
    padding: 0 1rem;
}

.copy_title{
    margin-bottom: .5rem;
    color: hsl(218, 44%, 22%);
}

.attribution {
    text-align: center;
}

.attribution b { 
    color: hsl(228, 45%, 44%); 
}
